<!DOCTYPE html>
<html>
  <head>
    <title>Admin CMS</title>
    <%= stylesheet_link_tag    'application', 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Muli' %>
    <%= stylesheet_link_tag    'application', 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag    'application', 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', '/assets/css/app.css?a=1499756908' %>
    <%= stylesheet_link_tag    'application', '/nsw-state-library-amplify/assets/css/styles.css?a=1499756908' %>
    <%= stylesheet_link_tag    'application', '/assets/css/app.css?a=1499756908' %>
    <%= stylesheet_link_tag    'search_auto_complete' %>

    <%= javascript_include_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'%>
    <%= javascript_include_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'%>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'search_auto_complete' %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="app" class="container-fluid">
      <div id="header" class="header">
        <nav id="primary-navigation" class="navigation primary inverse" role="navigation">
          <div>
            <div id="header-title" class="title-container">  <style type="text/css">    .header .title-container {      width: auto;      float: left;    }  </style>  <div class="header-bar">    <a href="/" title="Amplify" class="title" aria-label="Click to return to homepage">      <img src="/nsw-state-library-amplify/assets/img/logo_cropped.png" alt="Logo" class="logo">      <p class="logo-text">Amplify</p>    </a>  </div></div>
            <div id="header-crumbs" class="crumbs-container"></div>
            <div id="account-container" class="account-container">
              <div class="select active">
                <div class="select-active" title="">
                  <span class="score">0</span> Signed In</div>
                  <div class="select-options account-menu menu" role="menu" aria-hidden="true" aria-label="User account menu">
                    <a href="/dashboard" class="select-option menu-item" role="menuitem">Dashboard</a>
                    <a href="/admin" class="select-option menu-item" role="menuitem">Admin</a>
                    <a href="/admin/cms" class="select-option menu-item" role="menuitem">CMS</a>
                    <a href="#sign-out" class="sign-out-link select-option menu-item" role="menuitem">Sign out</a>
                  </div>
                </div>
              </div>

            <div id="primary-menu-container" class="menu-container">
              <div class="header-menu menu" role="menu">
                <a href="/" class="menu-item " role="menuitem">Browse</a>
                <a href="/search" class="menu-item " role="menuitem">Search</a>
                <a href="/collections" class="menu-item " role="menuitem">Collections</a>
                <a href="/page/about" class="menu-item " role="menuitem">About</a>
                <a href="/page/faq" class="menu-item " role="menuitem">FAQ</a>
              </div>
            </div>
          </div>
        </nav>
        <nav id="secondary-navigation" class="navigation secondary"></nav>
        <div id="primary-alert" class="alert" role="alert" aria-atomic="true"></div>
      </div>

      <div id="main" class="body">
        <div class="collections page">
          <h1>About the collections</h1>
          <p>
            Selected collections from the State Library of NSW’s vast sound archive are
            periodically added to Amplify for listening and transcription. Below is a
            list of collections currently available.
          </p>

          <h2>Accessing the collections</h2>
          <p>
            If you are interested in getting access to our sound collections
            for research, media or personal interest purposes, please submit a
            request through our
            <%= link_to "Ask A Librarian", "http://www.sl.nsw.gov.au/research-and-collections/ask-librarian" %>
            service.
          </p>

          <% @collections.find_each do |collection| %>
            <h2><%= collection.title %></h2>
            <p><strong><%= collection.library_catalogue_title %></strong></p>
            <p><%= sanitize(collection.description) %></p>
            <p><%= link_to "View in Library Catalogue", collection.url %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div id="footer" class="footer">
      <nav id="footer-navigation" class="navigation inverse">
        <div id="footer-menu-container" class="menu-container">
          <div class="footer-menu menu" role="menu">
            <a href="http://www.sl.nsw.gov.au/privacy" class="menu-item " target="_blank" role="menuitem">Privacy</a>
            <a href="http://www.sl.nsw.gov.au/copyright" class="menu-item " target="_blank" role="menuitem">Copyright</a>
            <a href="http://www.sl.nsw.gov.au/about-library-legislation-and-policies/client-code-conduct" class="menu-item " target="_blank" role="menuitem">Client Code of Conduct</a>
            <a href="http://www.sl.nsw.gov.au/feedback" class="menu-item " target="_blank" role="menuitem">Feedback</a>
          </div>
        </div>
      </nav>
      <div>
        <div class="footer.md page">
          <p>
            Powered by
            <a href="https://github.com/NYPL/transcript-editor">Open Transcript Editor</a>
            which was developed by the
            <a href="http://www.nypl.org">New York Public Library</a>.
            <a href="/page/about">Find out more</a>.
          </p>
        </div>
      </div>
    </div>

    <script src="/nsw-state-library-amplify/project.js"></script>
    <script src="/assets/js/templates.js"></script>
    <script src="/assets/js/admin.js"></script>
    <script src="/nsw-state-library-amplify/assets/js/custom.js"></script>
  </body>
</html>
