<% content_for :metatags do %>
  <!-- Facebook Share button meta tags. -->
  <meta property='og:type' content='website' />
  <meta property='og:title' content='<%= @institution.name %>' />
  <meta property='og:description' content='<%= strip_tags @institution.introductory_text %>' />
  <meta property='og:url' content='<%= url_for(only_path: false) %>' />
  <meta property='og:image' content='<%= @institution.hero_image_url %>' />
  <meta property='og:image:width' content='1400' />
  <meta property='og:image:height' content='1063' />
  <meta property='fb:app_id' content='<%= facebook_app_id %>' />
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>
<%= render partial: 'home/hero_content', locals: { institution: @institution}  %>
<!-- extended_controls -> sort and search boxes -->
<%= render partial: 'home/filters', locals: { extended_controls: true }  %>
<section id="transcript-results">
</section>
