<%= raw edited_info(edits) %>
<% list = group_edits_by_transcripts(edits) %>
<% list.each do |key, value|
  transcript = value[:transcript]
  edits = value[:edits]
%>
<div class="flex-container">
  <div class="flex-container__img_div">
    <%= link_to image_tag(transcript.image_url.to_s, height: 100), transcript_url(transcript) %>
    <div>
      <%= link_to transcript.title, transcript_url(transcript) %>
    </div>
  </div>
  <div class="flex-container__edits_div">
    <div class="transcript-edits">
       <% edits.first(edits_min_display).each do |e| %>
         <div class="transcript-edit">
           <%= e.text %>
         </div>
       <% end %>
    </div>
    <% if edits.length > edits_min_display %>
      <div class="transcript-edits collapsed" id="collapsed-<%= transcript.id %>">
        <% edits[edits_min_display..-1].each do |e| %>
            <div class="transcript-edit">
              <%= e.text %>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="flex-container__stats_div">
    <div class="stat-details">
      Lines Edited:
      <br />
      <br />
      <h4>
        <%= edits.length %>
      </h4>

    </div>
    <div class="stat-details">
      Listened to:
      <br />
      <br />
      <h4>
        ~<%= time_in_seconds(edits.length)  %> of audio
      </h4>
    </div>
    <% if edits.length > edits_min_display %>
      <div class="text-center">
        <%= link_to 'Expand', '#', class: "toggle-link", id: transcript.id %>
      </div>
    <% end %>
  </div>
</div>
<% end  %>
