<div class="dashboard-section">
  <h2>Edits By User</h2>

  <div class="nav-tabs">
    <div>
      Day
    </div>
    <div>
      Week
    </div>
    <div>
      Month
    </div>
    <div>
      Year
    </div>
    <div class="active">
      All
    </div>
  </div>

  <table class="dashboard-table">
    <tr class="dashboard-table-header">
      <td>Name</td>
      <td>Lines Edited</td>
      <td>Last Record Edited</td>
      <td>Time of Last Edit</td>
    </tr>

    <% Object.keys(this.data.userData).forEach((userId) => { %>
      <tr>
        <td><%= this.data.userData[userId].name %></td>
        <td><%= this.data.userData[userId].number_edits %></td>
        <td><%= this.data.userData[userId].last_edited_record %></td>
        <td><%= this.data.userData[userId].last_edit_date %></td>
      </tr>
    <% }) %>
  </table>
</div>

<div class="dashboard-section">
  <h2>Transcripts Completed</h2>

  <div class="nav-tabs">
    <div>
      Day
    </div>
    <div>
      Week
    </div>
    <div>
      Month
    </div>
    <div>
      Year
    </div>
    <div class="active">
      All
    </div>
  </div>

  <table class="dashboard-table">
    <tr class="dashboard-table-header">
      <td>Transcript ID</td>
      <td>Title</td>
      <td>Completed At</td>
      <td>Winning Editor</td>
      <td>Winning Editor Edits</td>
    </tr>

    <% Object.keys(this.data.transcriptsCompletedData).forEach((guid) => { %>
      <tr>
        <td><%= guid %></td>
        <td class="long"><a href="/transcripts/<%= guid %>"><%= this.data.transcriptsCompletedData[guid].title %></a></td>
        <td><%= this.data.transcriptsCompletedData[guid].completed_at %></td>
        <td><%= this.data.transcriptsCompletedData[guid].most_edits_user_email %></td>
        <td><%= this.data.transcriptsCompletedData[guid].most_edits_user_count %></td>
      </tr>
    <% }) %>
  </table>
</div>


<div class="dashboard-section">
  <h2>Editing Activity</h2>
  <div class="nav-tabs">
    <div>
      Day
    </div>
    <div>
      Week
    </div>
    <div>
      Month
    </div>
    <div>
      Year
    </div>
    <div class="active">
      All
    </div>
  </div>

  <table class="dashboard-table">
    <tr class="dashboard-table-header">
      <td>Transcript ID</td>
      <td>Title</td>
      <td>Number of Edits</td>
      <td>Last Edit Date</td>
    </tr>

    <% Object.keys(this.data.editActivity).forEach((guid) => { %>
      <tr>
        <td><%= guid %></td>
        <td class="long"><a href="/transcripts/<%= guid %>"><%= this.data.editActivity[guid].title %></a></td>
        <td><%= this.data.editActivity[guid].edit_count %></td>
        <td><%= this.data.editActivity[guid].last_edit_date %></td>
      </tr>
    <% }) %>
  </table>
</div>