<div class="transcript-file-upload">
  <div class="row">
    <div class="col-12">
      <h4>Crop Image</h4>
      <%= image_tag @transcript.image_url, id: "cropbox" %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h4>Preview</h4>
      <div class="preview-container">
        <%= image_tag @transcript.image_url, id: "preview" %>
      </div>
    </div>
  </div>
  <%= form_for [:admin, :cms, @transcript] do |f| %>
    <% %w[x y w h].each do |attribute| %>
      <%= f.hidden_field "crop_#{attribute}" %>
    <% end %>
    <div class="actions">
      <%= f.submit "Crop", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
