<%= form_with(model: [:admin, institution], local: true) do |form| %>
  <%= render partial: 'layouts/cms_errors', locals: { object: institution } %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label(:slug, "UID") %>
    <%= form.text_field :slug, class: 'form-control' %>
    <div role="alert">
      * only characters, numbers and '-' are allowed
    </div>
  </div>
  <div class="form-group">
    <%= form.label :introductory_text %>
    <%= form.text_area :introductory_text, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label 'Transcript consensus number', for: 'institution_min_lines_for_consensus' %>
    <%= form.text_field :min_lines_for_consensus, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :image, "Logo" %>
    <div class="form-control">
      <% if institution.image.present? %>
        <%= image_tag(institution.image_url(:thumb)) %>
      <% end %>

      <%= form.file_field :image, class: "align-bottom" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :hero_image, "Hero image" %>
    <div class="form-control">
      <% if institution.hero_image.present? %>
        <%= image_tag(institution.hero_image_url(:thumb)) %>
      <% end %>

      <%= form.file_field :hero_image, class: "align-bottom" %>
    </div>
  </div>



  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>
