<%= form_with(model: [:admin, institution], local: true) do |form| %>
  <%= render partial: 'layouts/cms_errors', locals: { object: institution } %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label(:slug, "UID") %>
    <%= form.text_field :slug, class: 'form-control' %>
    <div role="alert">
      * only characters, numbers and '-' are allowed
    </div>
  </div>

  <div class="form-group">
    <%= form.label :introductory_text %>
    <%= form.text_area :introductory_text, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Item consensus number', for: 'institution_min_lines_for_consensus' %>
    <%= form.text_field :min_lines_for_consensus, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image, "Logo" %>
    <div class="form-control image">
      <% if institution.image.present? %>
        <div><%= image_tag(institution.image_url(:thumb)) %></div>
        <br>
        <% if current_user.admin? %>
          <%= check_box_tag "institution[remove_image]" %>
          <%= label_tag :remove_image %>
          <br>
        <% end %>
      <% end %>

      <%= form.file_field :image, class: "align-bottom" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :hero_image, "Hero image" %>
    <div class="form-control image">
      <% if institution.hero_image.present? %>
        <div><%= image_tag(institution.hero_image_url(:thumb)) %></div>
        <br>
        <% if current_user.admin? %>
          <%= check_box_tag "institution[remove_hero_image]" %>
          <%= label_tag :remove_hero_image %>
          <br>
        <% end %>
      <% end %>

      <%= form.file_field :hero_image, class: "align-bottom" %>
    </div>
  </div>

  <table style="border:0; width:100%;" id="institution-links">
    Custom footer links
    <% @institution.institution_links.each_with_index do |link, index| %>
      <tr id="institution-link-<%= index %>">
        <%= hidden_field_tag("institution[institution_links][][position]", index) %>
        <td>
          <div class="form-group">
            <%= label_tag "Title" %>
            <%= text_field_tag "institution[institution_links][][title]", link.title, class: 'form-control' %>
          </div>
        </td>
        <td>
          <div class="form-group">
            <%= label_tag "Url" %>
            <%= text_field_tag "institution[institution_links][][url]", link.url, class: 'form-control' %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>

  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>

<br>
<%= button_to admin_institution_path(institution), data: {confirm: 'Are you sure you want to delete this institution and any associated items? This action cannot be undone.'}, class: "btn btn-danger", method: :delete do %>
  Delete
<% end if !institution.new_record? && current_user.admin? %>

<div class="form-group">
  <%= render partial: "admin/cms/shared/stats", locals: { stats_type: 'institution', collection_count: institution.collections.count, transcript_count: institution.collections.map { |c| c.transcripts.length }.inject(0, :+), duration: institution.duration, usage: institution.disk_usage } %>
</div>