<%= render partial: 'layouts/admin_side_pane' %>

<p id="notice"><%= notice %></p>

<h1>Admin Institutions</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th colspan="2" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= institution.name %></td>
        <td><%= link_to 'Edit', edit_admin_institution_path(institution) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Institution', new_admin_institution_path, class: 'btn btn-primary' %>
