<%= form_tag query_search_index_url, method: :get, remote: true, class: 'home-form' do %>
  <section class="search_bar">
    <article class="search_bar__content">
      <div class="search_bar__form" id="search-form">
        <div class="search_field">
          <%= search_field_tag "data[q]", nil, placeholder: "Search all transcripts" %>
          <%= submit_tag "Start", class: "button icon search" %>
        </div>
      </div>
    </article>
  </section>

  <div id="filters">
    <section class="filter_bar">
      <article class="filter_bar__content">
        <div class="transcripts-wrapper" role="main">
          <div data-sticky="#transcript-facets" class="sticky-on-scroll" id="fixedHeader">
            <div id="transcript-facets" class="filter_bar__form transcript-facets filter_bar">
              <div class="filter_bar__fieldset">
                <legend class="desktop-only">
                  Filter by:
                </legend>

                <% if show_theme? %>
                  <div class="facet">
                    <div name="filter-by-theme" class="select theme">
                      <div class="select-active" id="theme-filter">All Themes</div>
                    </div>
                    <div class="checkbox-list" id="data_theme_">
                      <%= collection_check_boxes('data', 'theme', @themes, "name", "name", include_hidden: false) do |b| %>
                        <div class="option">
                          <%= b.check_box(checked: themes_checked?(b)) %> <%= b.label %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>

                <% if show_institutions? %>
                  <div class="facet" id="institution_search">
                    <%= hidden_field_tag :instution_selected_id, @selected_institution_id.to_i  %>
                    <%= render partial: 'search/institutions', locals: { institutions: @institutions, selected_id: @selected_institution_id.to_i, hide_label: false } %>
                  </div>
                <% end %>

                <div class="facet">
                  <div id="collection_search">
                    <%= render partial: 'search/collection', locals: { collection: @collection } %>
                  </div>
                </div>


                <div class="search_field">
                  <%= submit_tag "Apply filters", class: "button icon search", id: "filters-submit" %>
                </div>

                <div>
                  <%= link_to '', id: 'reset'  do %>
                    <%= fa_icon "refresh" %>
                    Reset
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>
  </div>
<% end %>
