<% transcripts.each do |transcript|
   transcript = transcript.decorate
%>
<div class="search-item">
  <div class="item-image" style="background-image: url('<%= transcript.image_url %>')"></div>
  <div class="item-details">
    <div class="item-title">
      <%= transcript.search_title  %>
      <% if transcript.start_time.to_i > 0 %>
        (<%= time_display(transcript.start_time) %>)
      <% end %>
    </div>
    <%= raw search_text(transcript, query) %>
    <%= raw item_tag(transcript, query) %>
  </div>
</div>
<% end %>
<% if transcripts.empty? %>
  <p>No transcripts found!</p>
<% end %>
