<% content_for :javascripts do %>
  <%= javascript_include_tag 'search' %>
<% end %>
<%= render partial: 'shared/header_logo' %>
<br />
<br />
<form id="search-form" class="search-form large" role="search">
  <input name="keyword" id="keyword" value="" placeholder="Search All Transcripts">
  <button type="submit" class="submit" title="Submit" aria-label="Submit"></button>
</form>
<div data-sticky="#transcript-facets" class="sticky-on-scroll" id="fixedHeader">

  <div id="transcript-facets" class="transcript-facets">
    <div>
      <!-- sort themes -->
      <% if show_theme? %>
        <div class="facet">
          <label for="filter-by-collection">Theme: </label>
          <div name="filter-by-collection" class="select collection">
            <div class="select-active collection-filter">All Themes</div>
            <div class="select-options collection-filter" role="menu" aria-hidden="true">
              <%= raw theme_list(@themes) %>
            </div>
          </div>
        </div>
      <% end %>
      <!-- end themes -->

      <!-- sort institution -->
      <% if show_institutions? %>
        <div class="facet" id="institution_search">
          <%= render partial: 'home/institutions', locals: { institutions: @institutions, selected_id: 0, hide_label: false } %>
        </div>
      <% end %>
      <!-- end institution -->
      <div class="facet" id="collection_search">
      </div>
      <!-- reset  -->
      <div class="facet">
        <%= link_to '', id: 'reset'  do %>
          <%= fa_icon "refresh" %>
          Reset
        <% end %>
      </div>
      <!-- end reset -->
    </div>
    </div>
</div>
<div id="transcript-results" class="transcript-results">
  <div id="search-result" class="transcript-list-search" role="list">
  </div>
</div>
