<% content_for :metatags do %>
  <!-- Facebook Share button meta tags. -->
  <meta property='og:type' content='website' />
  <meta property='og:description' content='Search All Transcripts' />
  <meta property='og:image' content='<%= @app_config.image_url %>' />
  <meta property='og:image:width' content='1400' />
  <meta property='og:image:height' content='1063' />
  <meta property='fb:app_id' content='<%= facebook_app_id %>' />
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'search' %>
<% end %>

<%= render partial: 'search/filters' %>
<section class="search_results">
    <%= render partial: 'search/transcript_list', locals: { transcripts: (@transcripts || []) } %>
</section>
