<header class="main_header">
  <%= image_tag "Amplify_logo_WHITE_COLOUR",
        alt: "Amplify logo",
        width: 150
  %>
  <% if current_page?(v2_edit_path) %>
    <p class="main_header__title">
      > Transcript title - Interviewed by a person with a long name
    </p>
  <% end %>
  <nav class="main_header__nav">
    <%= check_box_tag "menu_toggle", "menu_toggle", false,
          class: "main_header__mobile_nav_toggle mobile-only"
    %>
    <%= label_tag "menu_toggle", class: "button icon menu mobile-only" do %>
      <span class="sr-only">Select top open navigation</span>
    <% end %>
    <div class="main_header__nav_list">
      <%= link_to "BROWSE",
            v2_home_path,
            class: current_page?(v2_home_path) ? "active" : ""
      %>
      <%= link_to "SEARCH",
            v2_search_path,
            class: current_page?(v2_search_path) ? "active" : ""
      %>
      <%= link_to "COLLECTIONS", v2_home_path %>
      <%= link_to "ABOUT", v2_home_path %>
      <%= link_to "FAQS", v2_home_path %>
      <%= link_to "TRACK MY PROGRESS", v2_home_path, class: "desktop-only" %>
    </div>
  </nav>
</header>
