<header class="main_header">
  <%= image_tag "Amplify_logo_WHITE_COLOUR",
        alt: "Amplify logo",
        width: 150
  %>
  <nav class="main_header__nav">
    <%= link_to "BROWSE", v2_home_path, class: "active" %>
    <%= link_to "SEARCH", v2_home_path %>
    <%= link_to "COLLECTIONS", v2_home_path %>
    <%= link_to "ABOUT", v2_home_path %>
    <%= link_to "FAQS", v2_home_path %>
    <%= link_to "TRACK MY PROGRESS", v2_home_path %>
  </nav>
</header>
