<footer class="main_footer">
  <div class="main_footer__content">
    <div class="main_footer__logos">
      <%= image_tag "slnsw-175-white",
        alt: "State library of NSW logo",
        width: 100
      %>
    <%= image_tag "nsw-government-white",
      alt: "NSW Government logo",
      width: 75
    %>
    </div>
    <p>
    Amplify was built using New York Public Library’s open source codebase for their own Transcript Editor.
    <%= link_to "Find out more.", "#" %>
    </p>
    <p>
    All images used on this platform are drawn from the Library's collections but are not intended to represent individual speakers unless explicitly stated. If you can provide us with further detail about any of our collections please
    <%= link_to "contact us.", "https://amplify.sl.nsw.gov.au/page/about" %>
    </p>
  </div>
</footer>
<footer class="sub_footer">
  <nav class="sub_footer__content">
    <%= link_to "DISCLAIMER", "https://www.sl.nsw.gov.au/disclaimer" %> /
    <%= link_to "PRIVACY", " https://www.sl.nsw.gov.au/privacy" %> /
    <%= link_to "COPYRIGHT", "https://www.sl.nsw.gov.au/copyright" %> /
    <%= link_to "RIGHT TO INFORMATION", "https://www.sl.nsw.gov.au/right-to-information" %> /
    <%= link_to "WEBSITE ACCESSIBILITY", "https://www.sl.nsw.gov.au/website-accessibility" %> /
    <%= link_to "CONTACT US", "https://amplify.sl.nsw.gov.au/page/about" %> /
    <%= link_to "FEEDBACK", "https://www.sl.nsw.gov.au/feedback" %>
  </nav>
</footer>
