<header class="main_header">
  <%= link_to(
    image_tag("Amplify_logo_WHITE_COLOUR",
        alt: "Amplify logo",
        width: 150),
        root_url
    )
  %>
  <nav class="main_header__nav">
    <%= check_box_tag "menu_toggle", "menu_toggle", false,
          class: "main_header__mobile_nav_toggle mobile-only"
    %>
    <%= label_tag "menu_toggle", class: "button icon menu mobile-only" do %>
      <span class="sr-only">Select top open navigation</span>
    <% end %>
    <div class="main_header__nav_list">
      <div class="main_header__links">
        <%= link_to "BROWSE",
              "/",
              class: current_page?(v2_home_path) ? "active" : ""
        %>
        <%= link_to "SEARCH",
              "/search",
              class: current_page?(v2_search_path) ? "active" : ""
        %>
        <%= link_to "COLLECTIONS", "/collections" %>
        <%= link_to "ABOUT", "/page/about" %>
        <%= link_to "FAQS", "/page/faq" %>
        <%= link_to "TUTORIAL", "/page/tutorial" %>
      </div>
      <div class="menu_dropdown main_header__links ">
        <div class="menu_select" id="select_title">
        <% if user_signed_in? %>
          <%= raw current_user_edits  %>
          <%= link_to current_user.name, "" %>
        <% else %>
          <%= link_to "TRACK MY PROGRESS", "/page/tutorial" %>
        <% end  %>
        </div>
        <div class="dropdown-content">
          <% if user_signed_in? %>
            <%= link_to "Dashboard", "/dashboard", class: "auth-link"%>
            <% if current_user.staff? %>
              <%= link_to "Admin CMS", "/admin", class: "auth-link"%>
            <% end %>
            <%= link_to 'Sign out', destroy_user_session_path, class: "auth-link" %>
          <% else %>
            <%= link_to 'Sign in w/ Email', "/users/sign_in", class: "auth-link"  %>
            <%= link_to "Sign in w/ Google", "/users/auth/google_oauth2", class: "auth-link"  %>
            <%= link_to "Sign in w/ Facebook", "/users/auth/facebook", class: "auth-link"  %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>
