<header class="main_header">
  <%= link_to(
    image_tag("Amplify_logo_WHITE_COLOUR",
        alt: "Amplify logo",
        width: 150),
        root_url
    )
  %>
  <% if defined?(@page_subtitle) %>
    <div id="header-crumbs" class="crumbs-container">
      <div class="crumb">
        <div class="crumb-label"><%= @page_subtitle %></div>
      </div>
    </div>
  <% end %>
  <nav class="main_header__nav">
    <%= check_box_tag "menu_toggle", "menu_toggle", false,
          class: "main_header__mobile_nav_toggle mobile-only"
    %>
    <%= label_tag "menu_toggle", class: "button icon menu mobile-only" do %>
      <span class="sr-only">Select top open navigation</span>
    <% end %>
    <div class="main_header__nav_list">
      <div class="main_header__links">
        <%= link_to "BROWSE",
              "/",
              class: current_page?(v2_home_path) ? "active" : ""
        %>
        <%= link_to "SEARCH",
              "/search",
              class: current_page?(v2_search_path) ? "active" : ""
        %>
        <%= link_to "COLLECTIONS", "/collections" %>
        <%= link_to "ABOUT", "/page/about" %>
        <%= link_to "FAQS", "/page/faq" %>
        <%= link_to "TUTORIAL", "/page/tutorial" %>
      </div>
      <div class="menu_dropdown main_header__links ">
        <div class="menu_select" id="select_title">
        <% if user_signed_in? %>
          <%= raw current_user_edits  %>
          <%= link_to current_user.name, "" %>
        <% else %>
          <%= link_to "TRACK MY PROGRESS", "/page/tutorial" %>
        <% end  %>
        </div>
        <div class="dropdown-content">
          <% if user_signed_in? %>
            <%= link_to "Dashboard", "/dashboard", class: "dropdown-link"%>
            <% if current_user.staff? %>
              <%= link_to "Admin CMS", "/admin", class: "dropdown-link"%>
            <% end %>
            <%= link_to 'Sign out', destroy_user_session_path, class: "dropdown-link" %>
          <% else %>
            <%= link_to "/users/sign_in", class: "dropdown-link auth-link auth-link--email" do %>
              <span class="auth-link__logo">&nbsp;</span>
              Sign in with Email
            <% end %>
            <% Project::getActive[:data]['authProviders'].each do |p| %>
              <%= link_to "/users#{p['path']}", class: "dropdown-link auth-link auth-link--#{p['name']}" do %>
                <span class="auth-link__logo">&nbsp;</span>
                Sign in with <%= p['label'] %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
  <nav id="secondary-navigation" class="navigation secondary">
    <% if @secondary_navigation && @secondary_navigation == 'secondary_navigation' %>
      <%= render partial: 'transcript_edit_toolbar', locals: { transcript_controls: [] } %>
    <% end %>
  </nav>
</header>
