<%= form_tag @form_url, method: :get, enforce_utf8: false, class: 'home-form' do %>
  <div id="filters">
    <section class="filter_bar">
      <article class="filter_bar__content">
        <div class="transcripts-wrapper" role="main">
          <div data-sticky="#transcript-facets" class="sticky-on-scroll" id="fixedHeader">
            <div id="transcript-facets" class="filter_bar__form transcript-facets filter_bar">
              <div class="filter_bar__fieldset">
                <legend class="desktop-only">
                  Filter by:
                </legend>

                <% if show_institutions? %>
                  <div class="facet" id="institution_search">
                    <%= render partial: 'home/institutions', locals: { institutions: @institutions } %>
                  </div>
                <% end %>

                <div class="facet">
                  <div id="collection_search">
                    <%= render partial: 'home/collection', locals: { collection: @collection } %>
                  </div>
                </div>

                <div class="facet">
                  <div class="search_field">
                    <%= text_field_tag "search", @build_params[:search], placeholder: "Search title/description" %>
                  </div>
                </div>
              </div>

              <div class="filter_bar__fieldset">
                <legend class="desktop-only">
                  Sort by:
                </legend>
                <div class="facet">
                  <%= select_tag "sort_by", options_from_collection_for_select(@sort_list, "id", "title", @build_params[:sort_by]), prompt: "Random" %>
                </div>
                <div class="search_field">
                  <%= submit_tag "Apply filters", class: "button icon search", id: "filters-submit", name: nil %>
                </div>

                <div>
                  <%= link_to @form_url, id: 'reset' do %>
                    <%= fa_icon "refresh" %>
                    Reset
                  <% end %>
                </div>
              </div>
              <div class="filter_bar__divider"></div>
              <% if show_theme? %>
                <div class="filter_bar__themes_filter">
                  <legend class="desktop-only">
                    Browse by theme:
                  </legend>
                  <div class="filter_bar__themes_filter-buttons">
                    <%= render partial: 'shared/theme_filter_buttons', locals: { themes: @themes, base_href: @form_url } %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </article>
    </section>
  </div>
<% end %>
