<div id="filters">
  <section class="filter_bar">
    <article class="filter_bar__content">
      <div class="transcripts-wrapper" role="main">
        <div data-sticky="#transcript-facets" class="sticky-on-scroll" id="fixedHeader">
          <div id="transcript-facets" class="filter_bar__form transcript-facets filter_bar">
            <div class="filter_bar__fieldset">
              <legend class="desktop-only">
                Filter by:
              </legend>
              <!-- sort themes -->
              <% if show_theme? %>
                <div class="facet">
                  <div name="filter-by-collection" class="select collection">
                    <div class="select-active collection-filter">All Themes</div>
                    <div class="select-options collection-filter" role="menu" aria-hidden="true">
                      <%= raw theme_list(@themes) %>
                    </div>
                  </div>
                </div>
              <% end %>
              <!-- end themes -->

              <!-- sort institution -->
              <% if show_institutions? %>
                <div class="facet" id="institution_search">
                  <%= hidden_field_tag :instution_selected_id, @selected_institution_id.to_i  %>
                  <%= render partial: 'home/institutions', locals: { institutions: @institutions, selected_id: @selected_institution_id.to_i, hide_label: false } %>
                </div>
              <% end %>
              <!-- end institution -->
              <%= hidden_field_tag :collection_selected_id, @selected_collection_id.to_i  %>
              <div class="facet" id="collection_search">
              </div>
              <!-- Sort  collection -->
              <% unless extended_controls  %>
                <div>
                  <%= link_to '', id: 'reset'  do %>
                    <%= fa_icon "refresh" %>
                    Reset
                  <% end %>
                </div>
              <% end %>
            </div>
            <% if extended_controls %>
              <div class="filter_bar__fieldset">
                <legend class="desktop-only">
                  Sort by:
                </legend>
                <div class="facet">
                  <div name="sort-by" class="select collection">
                    <div class="select-active">Random</div>
                    <div class="select-options sort-by-filter" role="menu" aria-hidden="true">
                      <%= raw sorting_list(@sort_list) %>
                    </div>
                  </div>
                </div>
                <!--  end of sort  collection -->
                <!-- search text box -->
                <div class="facet">
                  <div class="search_field">
                    <input type="search" name="searchText" id="searchText" placeholder="Search title/description">
                    <button name="button" type="submit" class="button icon search">Start</button>
                  </div>
                  <div>
                    <%= link_to '', id: 'reset'  do %>
                      <%= fa_icon "refresh" %>
                      Reset
                    <% end %>
                  </div>
                </div>
                <!-- end of search textbox -->
              </div>
            <% end %>
          </div>
        </div>
        <%# <div id="transcript-results" class="transcript-results"> %>
          <%#   <div class="transcript-list" role="list"> %>
            <%#   </div> %>
          <%# </div> %>
      </div>
    </article>
  </section>
</div>

