<div id="filters">
  <section class="filter_bar">
    <article class="filter_bar__content">
      <div class="transcripts-wrapper" role="main">
        <div data-sticky="#transcript-facets" class="sticky-on-scroll" id="fixedHeader">
          <%= form_tag @form_path, method: @form_method, remote: true, class: 'home-form' do %>
            <div id="transcript-facets" class="filter_bar__form transcript-facets filter_bar">
              <div class="filter_bar__fieldset">
                <legend class="desktop-only">
                  Filter by:
                </legend>

                <% if show_theme? %>
                  <div class="facet">
                    <%= select_tag "data[theme][]", options_from_collection_for_select(@themes, "name", "name"), prompt: "All Themes", multiple: true %>
                  </div>
                <% end %>

                <% if show_institutions? %>
                  <div class="facet" id="institution_search">
                    <%= hidden_field_tag :instution_selected_id, @selected_institution_id.to_i  %>
                    <%= render partial: 'home/institutions', locals: { institutions: @institutions, selected_id: @selected_institution_id.to_i, hide_label: false } %>
                  </div>
                <% end %>

                <%= hidden_field_tag :collection_selected_id, @selected_collection_id.to_i  %>
                <div class="facet" id="collection_search">
                  <%= render partial: 'home/collection', locals: { collection: @collection, selected_id: @selected_collection_id } %>
                </div>
              </div>

              <div class="filter_bar__fieldset">
                <% if extended_controls %>
                <legend class="desktop-only">
                  Sort by:
                </legend>
                <div class="facet">
                  <%= select_tag "data[sort_id]", options_from_collection_for_select(@sort_list, "id", "title"), prompt: "Random" %>
                </div>

                <div class="facet">
                  <div class="search_field">
                    <%= text_field_tag "data[text]", nil, placeholder: "Search title/description" %>
                    <%= submit_tag "Start", class: "button icon search" %>
                  </div>
                </div>
                <% else %>
                <div class="facet">
                  <div class="search_field">
                    <%= text_field_tag "data[q]", nil, placeholder: "Search all transcripts" %>
                    <%= submit_tag "Start", class: "button icon search" %>
                  </div>
                </div>
                <% end %>

                <div>
                  <%= link_to '', id: 'reset'  do %>
                    <%= fa_icon "refresh" %>
                    Reset
                  <% end %>
                </div>
              </div>

            </div>
          <% end %>
        </div>
      </div>
    </article>
  </section>
</div>
