<section class="transcript_results">
  <% if transcripts.empty? %>
    <div class="no-transcripts">
      <p>No transcripts found, please make another selection.</p>
    </div>
  <% else %>
    <div class="transcript_results__list" role="list">
      <% transcripts.each do |transcript| %>
        <% transcript = transcript.decorate %>
        <%= link_to transcript.path, class: "transcript_item",
              title: transcript.title,
              role: "listitem" do
        %>
          <% if transcript.image_cropped_thumb_url.present? %>
            <div class="transcript_item__image" style="background-image: url('<%= transcript.image_cropped_thumb_url %>')"></div>
          <% else %>
            <div class="transcript_item__image"></div>
          <% end %>
          <div class="transcript_item__subtitle"><%= transcript.collection_title  %></div>
          <div class="transcript_item__title"><%= transcript.title  %></div>
          <div class="transcript_item__description"><%= transcript.homepage_description  %></div>
          <div class="transcript_item__info">
            <%= transcript.humanize_duration %>
            <div class="transcript_item__contributors">
              <%= transcript.humanize_contributors %>
            </div>
          </div>

        <% end %>
      <% end %>
    </div>
  <% end %>
</section>
