<% content_for :javascripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>

<% content_for :home_banner do %>
  <div class="home-banner">
    <img src="/nsw-state-library-amplify/assets/img/slnsw_logo_horizontal_white.svg" alt="State Library of NSW logo" class="logo">
    <div class="banner-main">
      <div class="banner-text">
        <h1>
          <span class="sr-only">Amplify</span>
          <%= image_tag 'Amplify_logo_WHITE_COLOUR.svg', alt: 'Amplify logo', class: 'logo' %>
        </h1>

        <h2>Listen to our sound archive, help us transcribe and enrich our stories.</h2>
      </div>
    </div>

  </div>
<% end %>


<div>
  <div class="home.md page">
    <div class="container" role="contentinfo">
      <p>Help the <a href="http://www.sl.nsw.gov.au/">State Library of New South Wales</a> enhance its collections by correcting computer-generated transcripts from our vast sound archive.</p>

      <video src="https://s3.amazonaws.com/togetherwelisten.nypl.org/video/twl_sample.mp4" preload="auto" class="toggle-sound sample-video" autoplay="" loop="" muted="" poster="https://s3.amazonaws.com/togetherwelisten.nypl.org/img/twl_sample.png"></video>

      <p class="caption">An example of how the transcript editor works (click for sound).</p>

      <p>Select an interview to get started.</p>

      <p class="disclaimer">All images used on this platform are drawn from the Library's collections but are not intended to represent individual speakers unless explicitly stated. If you can provide us with further detail about any of our collections please <a href="mailto:digital.volunteering@sl.nsw.gov.au">contact us</a>.</p>
    </div>
  </div>
</div>
<div class="transcripts-wrapper" role="main">
  <div data-sticky="#transcript-facets" class="sticky-on-scroll" id="fixedHeader">
    <div id="transcript-facets" class="transcript-facets">
      <div>
        <!-- sort themes -->
        <% if show_theme? %>
        <div class="facet">
          <label for="filter-by-collection">Theme: </label>
          <div name="filter-by-collection" class="select collection">
            <div class="select-active collection-filter">All Themes</div>
            <div class="select-options collection-filter" role="menu" aria-hidden="true">
              <%= raw theme_list(@themes) %>
            </div>
          </div>
        </div>
        <% end %>
        <!-- end themes -->

        <!-- sort institution -->
        <% if show_institutions? %>
        <div class="facet" id="institution_search">
          <%= render partial: 'institutions', locals: { institutions: @institutions, selected_id: 0, hide_label: false } %>
        </div>
        <% end %>
        <!-- end institution -->
        <div class="facet" id="collection_search">
        </div>
        <!-- Sort  collection -->
        <div class="facet">
          <label for="sort-by">Sort by: </label>
          <div name="sort-by" class="select collection">
            <div class="select-active">Random</div>
            <div class="select-options sort-by-filter" role="menu" aria-hidden="true">
              <%= raw sorting_list(@sort_list) %>
            </div>
          </div>
        </div>
        <!--  end of sort  collection -->
        <!-- search text box -->
        <div class="facet">
          <form id="search-form" class="search-form" role="search">
            <input name="keyword" id="searchText" value="" placeholder="Search Title/Description">
            <button type="submit" class="submit" title="Submit" aria-label="Submit"></button>
          </form>
        </div>
        <!-- end of search textbox -->
        <!-- reset  -->
        <div class="facet">
          <%= link_to '', id: 'reset'  do %>
            <%= fa_icon "refresh" %>
            Reset
          <% end %>
        </div>
        <!-- end reset -->

      </div>
    </div>
  </div>
  <div id="transcript-results" class="transcript-results">
    <div class="transcript-list" role="list">
    </div>
  </div>
</div>

