<%= form_for [:admin, :cms, @collection], html: { multipart: true } do |f| %>
  <%= render partial: 'layouts/cms_errors', locals: { object: @collection } %>

  <div class="form-group">
    <%= f.label :uid %>
    <%= f.text_field :uid, class: "form-control" %>
    <%= render "uid_note" %>
  </div>

  <div class="form-group">
    <%= f.label 'Shorthand title', for: 'collection_title' %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'Full collection title', for: 'collection_library_catalogue_title' %>
    <%= f.text_field :library_catalogue_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", "data-provider": :summernote %>
  </div>

  <div class="form-group">
    <%= f.label :collection_url_title, "Collection URL title", for: 'collection_collection_url_title' %>
    <%= f.text_field :collection_url_title, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= f.label :url, "Collection URL", for: 'collection_url' %>
    <%= f.text_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :vendor_id %>
    <%= f.select :vendor_id, Vendor.pluck(:name, :id), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :institution_id %>
    <%= f.collection_select(:institution_id, @institutions, :id, :name, { selected: @collection.institution_id }, { class: 'form-control' }) %>
  </div>

  <div class="form-group">
    <%= f.label 'themes' %>
    <%= f.collection_select(:theme_ids, @themes, :name, :name, { selected: @collection.theme_list }, { multiple: true,  class: 'form-control multi-select' }) %>
  </div>

  <div class="form-group">
    <%= f.label :image, "Default Collection Image" %>

    <div class="form-control">
      <% if @collection.image.present? %>
        <%= image_tag(@collection.image_url(:thumb)) %>
      <% end %>

      <%= f.file_field :image, class: "align-bottom" %>
    </div>
  </div>
  <div class="form-check">
    <%= f.check_box :publish, {checked: @collection.published?, class: 'form-check-input' } %>
    <%= f.label 'Publish collection to live site', for: 'collection_publish', class: 'form-check-label' %>
  </div>


  <div class="form-group text-center">
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", admin_cms_path %>
  </div>
<% end %>
