<div class="row">
  <div class="col-5">
    <%= check_box_tag "transcript_ids[]", item.uid, nil, class: 'mr-2 check' %>
    <%= publish_icon(item.published?) %>
    <%= item.title %></div>
  <div class="col-2">
    <%= image_tag(item.image_cropped_thumb_url, class: 'img-fluid') if item.image.url.present? %>
  </div>

  <div class="col-1">
    <%= item.voicebase_status %>
  </div>
  <div class="col-1">
    <%= button_to sync_admin_cms_transcript_path(item),
      method: "get",
      data: { disable_with: "Loading..." } do
    %>
    Sync
    <% end if item.voicebase? %>
  </div>
  <div class="col-1">
    <%= link_to transcript_path(item, preview: true),
      method: "get",
      target: '_blank' do
    %>
      <%= fa_icon "eye" %>
    <% end %>
  </div>
  <div class="col-1">
    <%= button_to edit_admin_cms_transcript_path(item),
      method: "get",
      data: { disable_with: "Loading..." } do
    %>
      <%= fa_icon "edit" %>
    <% end %>
  </div>
  <div class="col-1">
    <% if policy(item).destroy? %>
      <%= button_to admin_cms_transcript_path(item), data: {confirm: 'Are you sure you want to delete this item? This action cannot be undone.'}, method: :delete do %>
        <%= fa_icon "trash-o" %>
      <% end %>
    <% end %>
  </div>
</div>
