<%= render partial: 'layouts/admin_side_pane' %>
<% content_for :cms_heading do %>
  <div class="row">
    <div class="col-9">
      <h1 class="text-center">Collection Item Management</h1>
    </div>
    <div class="col-3 text-right">
      <%= link_to "Create Item",
          new_admin_cms_transcript_path(collection_uid: @collection.uid),
          method: "get",
          data: { disable_with: "Loading..." },
          class: "button"
      %>
      <%= link_to "All Collections",
          admin_cms_path,
          data: { disable_with: "Loading..." },
          class: "button"
      %>
    </div>
  </div>
<% end %>

<div class="card mb-4">
  <div class="card-header">
    <h3><%= @collection.title %></h3>
  </div>

  <div class="card-body">
    <%= raw @collection.description %>
  </div>

  <div class="card-footer">
    <strong>Total items:</strong>
    <span class="total-items"><%= @collection.transcripts.size %></span>
  </div>
</div>

<section class="card">
  <header class="card-header">
    <h3>Items</h3>
  </header>
  <div class="card-body">
    <table class="table" id="item-list-headings">
      <thead class="thead-dark">
        <tr>
          <th colspan="7"></th>
          <th class="text-center">
            Bulk Actions:
            <label>
              <input type="checkbox" class="check" id="select-all"> Select All
            </label>
          </th>
        <tr>
          <th>Published</th>
          <th>Title</th>
          <th>Image</th>
          <th>Status</th>
          <th class="text-center">Preview</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
          <th class="text-center">
            <div class="dropdown">
              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% if current_user && (current_user.admin? || current_user.content_editor?) %>

                  <%= submit_tag 'Publish', class: 'dropdown-item update-multiple',
                    data: { action: 'publish', url: update_multiple_admin_cms_transcripts_url, collection_uid: @collection.uid } %>
                  <%= submit_tag 'Unpublish', class: 'dropdown-item update-multiple',
                      data: { action: 'unpublish', url: update_multiple_admin_cms_transcripts_url, collection_uid: @collection.uid } %>
                <% end %>

                <% if current_user && current_user.admin? %>
                  <%= submit_tag 'Delete', class: 'dropdown-item btn update-multiple',
                    data: { action: 'delete', url: update_multiple_admin_cms_transcripts_url, collection_uid: @collection.uid } %>
                <% end %>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <% if @collection.transcripts.any? %>
        <%= render "item_list" %>
      <% else %>
        <%= render "item_placeholder" %>
      <% end %>
    </table>
  </div>
</section>
