<% content_for :home_banner do %>
  <div class="home-banner">
    <img src="/nsw-state-library-amplify/assets/img/slnsw_logo_horizontal_white.svg" alt="State Library of NSW logo" class="logo">
    <div class="banner-main">
      <div class="banner-text">
        <h1>
          <span class="sr-only">Amplify</span>
          <%= image_tag 'Amplify_logo_WHITE_COLOUR.svg', alt: 'Amplify logo', class: 'logo' %>
        </h1>

        <h2>Listen to our sound archive, help us transcribe and enrich our stories.</h2>
      </div>
    </div>
  </div>
<% end %>
<div>
  <div class="page">
    <div class="container" role="contentinfo">
      <h2>Sign In</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}", class: "alert alert-danger" if msg.is_a?(String) %>
        <%- end -%>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
        <div class="form-group form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-lable" %>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

