<%= render partial: 'layouts/admin_side_pane' %>

<h1>Users</h1>

<p>Found <%= @users[:total_items] %> users</p>

<%= link_to "CSV", users_admin_reports_path(format: :csv) %>

<table>
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Lines</th>
            <th scope="col">Edits</th>
            <th scope="col">Transcripts</th>
            <th scope="col">Collections</th>
            <th scope="col">Institutions</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        <% @users[:results].each do |u| %>
            <tr>
                <td><%= u[:name] %></td>
                <td><%= u[:lines] %></td>
                <td><%= u[:edits] %></td>
                <td><%= u[:transcripts] %></td>
                <td><%= u[:collections] %></td>
                <td><%= u[:institutions] %></td>
                <td><%= display_time(u[:time]) %></td>
            </tr>
        <% end%>
    </tbody>
</table>
