<% if (user.signedIn) { %>

  <div class="select">
    <div class="select-active" title="Signed in as <%= user.name %>"><%= user.name %></div>
    <div class="select-options account-menu menu">
      <a href="#sign-out" class="sign-out-link select-option menu-item">Sign out</a>
    </div>
  </div>

<% } else { %>

  <div class="select">
    <div class="select-active">Sign in with</div>
    <div class="select-options account-menu menu">
      <% _.each(project.authProviders, function(provider) { %>
        <a href="#sign-in-with-<%= provider.name %>" data-provider="<%= provider.name %>" class="auth-link select-option menu-item" data-active="Signing In..."><%= provider.label %></a>
      <% }) %>
    </div>
  </div>

<% } %>
