<div class="<%= menu_key %>-menu menu">
  <% _.each(menu, function(item) { %>
    <% if (!item.validRoutes || item.validRoutes.indexOf(route.route) > -1) { %>
      <% if (item.modal) { %>
        <a data-modal="<%= item.modal %>" class="menu-item modal-invoke"><%= item.label %></a>
      <% } else { %>
        <a href="<%= item.url %>" class="menu-item <%= item.url==route.path ? 'active': '' %>"><%= item.label %></a>
      <% } %>
    <% } %>
  <% }) %>
</div>
