<div sequence="<%= sequence %>" class="line <%= status.name %> <%= user_text ? 'user-edited' : '' %>">
  <div class="time"><%= UTIL.formatTimeMs(start_time) %></div>
  <div class="text"><input type="text" value="<%= display_text %>" user-value="<%= user_text %>" /></div>
</div>
