<div sequence="<%= sequence %>" class="line">
  <div class="time"><%= UTIL.formatTimeMs(start_time) %></div>
  <% if (text) { %>
    <div class="text final"><%= text %></div>
  <% } else if (hasOwnProperty("user_text")) { %>
    <div class="text user-edited"><input type="text" value="<%= user_text %>" user-value="<%= user_text %>" /></div>
  <% } else { %>
    <div class="text"><input type="text" value="<%= original_text %>" user-value="" /></div>
  <% } %>
</div>
