<section class="modal <%= active ? 'active': '' %>" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">

  <div class="modal-inner">
    <header id="modal-label"><%= title %> <a class="control toggle-play"></a></header>
    <div class="modal-content">
      <div id="flag-add" class="flag-content active">
        <p>The transcribed text: <strong><%= line.text %></strong></p>
        <% _.each(flag_types, function(type, i){ %>
          <a class="option <%= type.id == line.user_flag.flag_type_id ? 'active' : '' %>" type-id="<%= type.id %>" title="<%= type.description %>"><%= type.label %></a>
        <% }) %>
        <label for="text">Add a comment (optional):</label>
        <textarea name="text" class="input-text"><%= line.user_flag.text %></textarea>
        <div class="message">
          <p>Thank you for flagging this line. We will be periodically reviewing and correcting flagged errors.</p>
        </div>
      </div>
      <div id="flag-index" class="flag-content">
        <p>The transcribed text: <strong><%= line.text %></strong></p>
        <% _.each(flags, function(flag, i){ %>
          <div class="flag">
            <span class="flag-type"><%= flag.flag_type_label %></span><%= flag.text.length ? ': ' + flag.text : '' %>
            <% if (flag.is_resolved) { %>
              <em>(resolved)</em>
            <% } %>
            <div class="flag-meta">by <%= flag.user_name %> on <%= UTIL.formatDate(flag.created_at) %></div>
          </div>
        <% }) %>
      </div>
    </div>
    <footer>
      <% if (flags.length > 0) { %>
      <a class="button pull-left content-link view-flags active">View All Flags</a>
      <a class="button pull-left content-link view-add-flag">Add A Flag</a>
      <% } %>
      <a class="button pull-right submit active">Submit</a>
    </footer>
  </div>

  <a class="modal-close modal-dismiss" title="Close this modal">x</a>

</section>
