<div sequence="<%= sequence %>" class="line <%= status.name %> <%= is_editable ? '' : 'not-editable' %> <%= user_text ? 'user-edited' : '' %>">
  <div class="time"><%= UTIL.formatTimeMs(start_time) %></div>
  <div class="controls">
    <a class="control toggle-play"></a>
  </div>
  <div class="status <%= status.name %>">
    <div class="status-description" data-description="<%= status.description %>"></div>
  </div>
  <div class="options">
    <% if (status.name == 'reviewing') { %>
      <a class="button verify" title="Choose the best submitted edit">Verify</a>
    <% } %>
    <a class="button star" title="Star this line"></a>
    <a class="button flag" title="Flag this line"></a>
  </div>
  <div class="text">
    <% if (is_editable) { %>
      <input class="text-input" type="text" value="<%= display_text %>" user-value="<%= user_text %>"  />
    <% } else { %>
      <div class="text-input not-editable" value="<%= display_text %>" user-value="<%= user_text %>" original-value="<%= display_text %>"><%= display_text %></div>
    <% } %>
  </div>
</div>
