<div class="item-image" style="background-image: url(<%= image_url %>)">
  <% if (percent_completed == 100) { %>
    <div class="completed-small-box">

      <div class="completed-check-container">
        <div class="completed-check check-small"></div>
        <div class="completed-check-tag-text">Completed</div>
      </div>
    </div>
    
  <% } %>
</div>
<% if (collection_title) { %>
  <div class="item-subtitle"><%= collection_title %></div>
<% } %>
<div class="item-title"><%= title %></div>
<% if (description) { %>
  <div class="item-description"><%= description %></div>
<% } %>
<div class="item-info">
  <%= UTIL.formatTimeAlt(duration) %>
  <% if (users_contributed > 0) { %>
    <div class="item-contributors">
      <%= UTIL.formatNumberTiny(users_contributed,0) %> contributor<%= users_contributed == 1 ? '' : 's' %>
    </div>
  <% } %>
</div>
<% if (percent_edited > 0) { %>
<div class="item-status">
  <div class="item-status-bar edited" style="width: <%= percent_edited %>%"></div>
  <% if (percent_completed > 0) { %>
    <div class="item-status-bar completed" style="width: <%= percent_completed %>%"></div>
  <% } %>
  <% if (percent_reviewing > 0) { %>
    <div class="item-status-bar reviewing" style="width: <%= percent_reviewing %>%; left: <%= percent_completed %>%;"></div>
  <% } %>
</div>
<div class="item-status-key">
  <% if (percent_completed > 0) { %>
    <div class="item-status-text completed"><%= percent_completed %>% reached consensus</div>
  <% } %>
  <% if (percent_reviewing > 0) { %>
    <div class="item-status-text reviewing"><%= percent_reviewing %>% awaiting review</div>
  <% } %>
  <% if ((percent_edited-percent_reviewing-percent_completed) > 0) { %>
    <div class="item-status-text edited"><%= percent_edited - percent_reviewing - percent_completed %>% have edits</div>
  <% } %>

</div>
<% } %>
