<a href="#<%= path %>" class="transcript-item">
  <div class="item-image" style="background-image: url(<%= image_url %>)"></div>
  <div class="item-title"><%= title %></div>
  <% if (description) { %>
    <div class="item-description"><%= description %></div>
  <% } %>
  <div class="item-info"><%= UTIL.formatTime(duration) %></div>
</a>
