<div class="transcript-toolbar inverse" role="toolbar">
  <div class="controls" role="menu">
    <% _.each(controls, function(control){ %>
      <div class="control <%= control.id %>" aria-label="<%= control.keyDescription %>" title="<%= control.keyDescription %>" style="width: <%= control_width_percent %>%" role="menuitem">
        <div class="label" data-label="<%= control.label %>" aria-label="<%= control.keyDescription %>"></div>
        <div class="key"><%= control.key %></div>
      </div>
    <% }) %>

    <div class="control" aria-label="Playback Speed" title="Radio buttons to control the playback speed" style="width: <%= control_width_percent %>%" role="menuitem">
      <div class="label" data-label="Auto" aria-label="Playback Speed"></div>

      <input id="autoplay" type="button" value="<%= getCookie("fixit-autoplay") == "y" ? "on" : "off" %>" >
      <button id="speed0" class="playback-rate-button" data-playback-rate="0.25">¼</button>
      <button id="speed1" class="playback-rate-button" data-playback-rate="0.5">½</button>
      <button id="speed2" class="playback-rate-button highlight"  data-playback-rate="1">1</button>
      <button id="speed3" class="playback-rate-button" data-playback-rate="2">2</button>
    </div>

  </div>
</div>
<%= menu %>
