<div class="transcript-toolbar inverse">
  <div class="controls">
    <% _.each(controls, function(control){ %>
      <div class="control <%= control.id %>" aria-label="<%= control.keyDescription %>" title="<%= control.keyDescription %>" style="width: <%= control_width_percent %>%">
        <div class="label" data-label="<%= control.label %>"></div>
        <div class="key"><%= control.key %></div>
      </div>
    <% }) %>
  </div>
</div>
