<!DOCTYPE html>
<html>
  <head>
    <title>Admin | Amplify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin_base', media: 'all' %>
    <%= stylesheet_link_tag    'application', '/assets/css/app.css?a=1499756908' %>
    <%= javascript_include_tag 'admin_base' %>
    <%= javascript_include_tag 'summernote-cleaner' %>
    <%= yield :javascripts %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <div id="app" class="container-fluid">
      <div id="header" class="header">
        <nav id="primary-navigation" class="navigation primary inverse" role="navigation">
          <div>
            <div id="header-title" class="title-container">
              <style type="text/css">
                .header .title-container {
                  width: auto;
                  float: left;
                }
              </style>
              <div class="header-bar">
                <%= link_to root_path, class: "title", "aria-label": "Click to return to homepage" do %>
                  <img src="/nsw-state-library-amplify/assets/img/logo_cropped.png" alt="Logo" class="logo">
                  <p class="logo-text">Amplify</p>
                <% end %>
              </div>
            </div>
            <div id="header-crumbs" class="crumbs-container"></div>
            <div id="account-container" class="account-container">
              <%= render partial: 'layouts/account' %>
            </div>

            <div id="primary-menu-container" class="menu-container">
              <%= render 'layouts/navigation' %>
            </div>
          </div>
        </nav>
        <nav id="secondary-navigation" class="navigation secondary"></nav>
        <div id="primary-alert" class="alert" role="alert" aria-atomic="true"></div>
      </div>

      <div id="main" class="body">
        <div class="container-fluid">
          <%= yield :cms_heading %>
          <div class="row">
            <div class="col-md-2">
              <%= yield :side_pane %>
            </div>
            <div class="col-md-10">
              <%= render 'layouts/flash_notice' %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
