<!DOCTYPE html>
<html>
  <head>
    <title>Amplify New Styling Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather">
    <%= stylesheet_link_tag    'application_v2', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
    <%= yield :javascripts %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <%= render "shared/header" %>
    <main>
      <% unless flash[:notice].blank? %>
        <div class="notice alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
