<!DOCTYPE html>
<html>
  <head>
    <title>Admin CMS</title>
    <%= stylesheet_link_tag    'application', 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Muli' %>
    <%= stylesheet_link_tag    'application', 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag    'application', 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', '/assets/css/app.css?a=1499756908' %>
    <%= stylesheet_link_tag    'application', '/nsw-state-library-amplify/assets/css/styles.css?a=1499756908' %>
    <%= stylesheet_link_tag    'application', '/assets/css/app.css?a=1499756908' %>
    <%= stylesheet_link_tag    'search_auto_complete' %>

    <%= javascript_include_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'%>
    <%= javascript_include_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'%>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'search_auto_complete' %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="app" class="container-fluid">
      <div id="header" class="header">
        <nav id="primary-navigation" class="navigation primare inverse" role="navigation">
          <div>
            <div id="header-title" class="title-container"></div>
            <div id="header-crumbs" class="crumbs-container"></div>
            <div id="account-container" class="account-container"></div>
            <div id="primary-menu-container" class="menu-container"></div>
          </div>
        </nav>
        <nav id="secondary-navigation" class="navigation secondary"></nav>
        <div id="primary-alert" class="alert" role="alert" aria-atomic="true"></div>
      </div>

      <div id="main" class="body">
        <%= yield :cms_heading %>
        <%= yield %>
      </div>

      <div id="footer" class="footer">
        <nav id="footer-navigation" class="navigation inverse">
          <div id="footer-menu-container" class="menu-container"></div>
        </nav>
      </div>
    </div>
  </body>
</html>
